<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>Spotify API</title>
<!-- #6
<script src="//cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
-->
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="Spotify API"/>

<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
</style>
</head>
<body>
<div class="container" id="title_div">
  <div style="text-align: right">
<% if( user ){ %>
    <button class="btn btn-success" onClick="javascript:window.location.href = '/spotify/logout';"><%= user.display_name %></button>
<% }else{ %>
    <button class="btn btn-warning" onClick="javascript:window.location.href = '/spotify/login';">ログイン</button>
<% } %>
  </div>
</div>

<div class="container">
<% if( playlists ){ %>
  <h2><%= user.display_name %>さんのプレイリスト</h2>
  <table class="table table-bordered">
    <thead>
      <tr><th>#</th><th>タイトル</th></tr>
    </thead>
    <tbody>
<% for( var i = 0; i < playlists.length; i ++ ){ %>
      <tr>
        <td><a target="_blank" href="<%= playlists[i].external_urls.spotify %>"><img src="<%= playlists[i].images[0].url %>" width="200"/></a></td>
        <td><%= playlists[i].name %></td>
      </tr>
<% } %>
    </tbody>
  </table>
<% } %>
</div>

<script>
$(function(){
});

function timestamp2datetime( ts ){
  if( ts ){
    var dt = new Date( ts );
    var yyyy = dt.getFullYear();
    var mm = dt.getMonth() + 1;
    var dd = dt.getDate();
    var hh = dt.getHours();
    var nn = dt.getMinutes();
    var ss = dt.getSeconds();
    var datetime = yyyy + '-' + ( mm < 10 ? '0' : '' ) + mm + '-' + ( dd < 10 ? '0' : '' ) + dd
      + ' ' + ( hh < 10 ? '0' : '' ) + hh + ':' + ( nn < 10 ? '0' : '' ) + nn + ':' + ( ss < 10 ? '0' : '' ) + ss;
    return datetime;
  }else{
    return "";
  }
}
</script>
</body>
</html>
